{% extends 'absensi-layout.html' %} {% block body %}
<div class="container-fluid">
	<div class="absensi-masuk-jdl">
		<h1>ABSENSI JAM MASUK</h1>
	</div>
	<!-- <div class="tbl-absensi">
		<div class="camera-view">
			<p>camera view</p>
			<video width="400" height="400" autoplay></video>
		</div>

		<div class="sisi-kanan">
			<table>
				<tr>
					<td>
						<div class="clock-view">
							<h1>clock</h1>
						</div>
					</td>
				</tr>
				<tr>
					<div class="tbl-detail">
						<p>test</p>
					</div>
				</tr>
			</table>
		</div>
	</div> -->


	<div class="absensi-container">
		<div class="camera">

			<div class="video-container">
				<video src="" id="video" width="400" height="300"></video>
				<canvas id="canvas" width="400" height="300"></canvas>
			</div>
			<div class="buttons-container">
				<button id="capture" type="submit" onclick="takephoto()">Ambil Gambar</button>
			</div>

		</div>

		<div class="info">

			<div class="jam">
				<p id="jam"></p>
			</div>
			<div class="preview"></div>

		</div>

	</div>
</div>
{% endblock %}