{% extends 'absensi-layout.html' %} {% block body %}
<div class="container-fluid">
	<div class="absensi-masuk-jdl">
		<h1>ABSENSI JAM MASUK</h1>
		{% include 'includes/_messages.html' %}
	</div>

	<div class="absensi-container">
		<div class="camera">

			<div class="video-container">
				<video src="" id="video" width="400" height="300"></video>
				<canvas id="canvas" width="400" height="300"></canvas>
			</div>
			<div class="buttons-container">
				<button id="capture" type="submit" onclick="takephoto()">Ambil Gambar</button>
			</div>

		</div>

		<div class="info">

			<div class="jam">
				<p id="jam"></p>
			</div>
			<div class="preview">
				<table class="table table-striped table-bordered table-hover" id="mydata">
					<thead>
						<tr>
							<th>Nama</th>
							<th>Status Masuk</th>
							<th>Status Pulang</th>
							<th>Keterangan</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Nama</th>
							<th>Status Masuk</th>
							<th>Status Pulang</th>
							<th>Keterangan</th>
						</tr>
					</tfoot>
					<tbody>
						{% for item in views %}
						<tr>
							<td>{{item[2]}}</td>
							<td>{{item[6]}}</td>
							<td>{{item[7]}}</td>
							<td>{{item[5]}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>

	</div>
</div>
{% endblock %}