{% extends 'absensi-layout.html' %} {% block body %}
<div class="container-fluid">
	<div class="absensi-masuk-jdl">
		<h1>ABSENSI JAM PULANG</h1>
	</div>

	<div class="absensi-container">
		<div class="camera">

			<div class="video-container">
				<video src="" id="video" width="400" height="300"></video>
				<canvas id="canvas" width="400" height="300"></canvas>
			</div>
			<div class="buttons-container">
				<button id="c-masuk" type="submit">Absen Masuk</button>
				<button id="c-pulang" type="submit">Absen Pulang</button>
			</div>

		</div>

		<div class="info">

			<div class="jam">
				<p id="jam"></p>
			</div>
			<div class="preview">
				<table class="table table-striped table-bordered table-hover" id="preview-absen">
					<thead>
						<tr>
							<th>Nama</th>
							<th>Status Masuk</th>
							<th>Status Pulang</th>
							<th>Keterangan</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="n">None</td>
							<td id="sm">None</td>
							<td id="sp">None</td>
							<td id="ket">None</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</div>
{% endblock %}