{% include 'absensi-layout.html' %} 
{% block body %}
<div class="dashboard-absensi">
    <div class="absensi-jdl">
        <div id="hello-btn">
            <h1>HALLO, </h1>
        </div>
        <h1>MAU AMBIL ABSEN?</h1>
    </div>
</div>
<div class="absensi-btn-layout">
    <tr>
        <td>
            <form action="{{ url_for('recognize') }}" method="GET">
                <input class="btn-absensi" type="submit" value="ABSEN MASUK">        
            </form>
        </td>
        <td>
            <input class="btn-absensi" type="submit" value="ABSEN KELUAR">
        </td>
    </tr>
</div>
{% endblock %}