{% extends 'layout.html' %} {% block body %}
<div class="card">
    <div class="card-header">
        <span class="sub-title">
            <b>Profil Admin</b>
        </span>
        <div id="tambah-karyawan">
            <form action="{{ url_for('editAdmin') }}" method="GET">
                <input type="submit" value="Update Data" class="b-crud-tambah">
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="tst-admin">
            <div class="card-custom-admin">
                <fieldset disabled="disabled">
                    <div class="form-group">
                        <i class="fas fa-user-circle" style="font-size: 5em;"></i>
                        <h2>
                            <span class="style-admin-username">
                                {{cek_admin[2]}}
                            </span>
                        </h2>
                    </div>
                    <div class="form-group">
                        <h3>
                            <span class="style-admin-id">
                                {{cek_admin[1]}}
                            </span>
                        </h3>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}