{% extends 'login-layout.html' %} 
{% block body %}
<div class="container-fluid">
    <div class="wrapper">
        <div id="formContent">
            <h1>Login</h1>
            {% include 'includes/_messages.html' %}
            <form action="" method="POST">
                <div class="form-group">
                    <input class="txt" type="text" name="username" class="fadeIn second" placeholder="Username" value="{{request.form.username}}">
                </div>
                <div class="form-group">
                    <input class="txt" type="password" name="password" class="fadeIn third" placeholder="Password" class="form-control" value="{{request.form.password}}">
                </div>
                <input value="Login" type="submit" class="btn"></input>
            </form>
        </div>
    </div>
</div>
{% endblock %}